body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg'); 
    background-size: cover;
    background-position: center;
    color: #fff; 
    text-align: center;
}

.container {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    margin: 50px auto;
    width: 80%;
    border-radius: 10px;
}

.image img {
    width: 100%;
    max-width: 400px; 
    border-radius: 10px;
    margin-bottom: 20px;
}

.heading {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.plot {
    font-size: 1.2rem;
    text-align: left;
}

.section {
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
}
.afilm2{
    text-decoration: none;
    color: white;
}
.buttonfilm2{
    height: 50px;
    width: 200px;
    background-color: #424742;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 10px; 
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}
.buttonfilm2:hover {
    
   
    background-color: #45a049; 
    }